button {
  background-color: white;
  border: 1px solid #130f40;
  color: #130f40;
  padding: 5px 8px;
  text-align: center;

  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

.theindiantime {
  border-radius: 4px;
}

button:hover {
  /* opacity: 0.7; */
  color: #fff;
  background-color: #130f40;
  transition: background-color 0.3s;
}
