* {
  margin: 0;
  padding: 0;
}
.login {
  display: flex;
  justify-content: center;
  background-color: #130f40;
  padding: 200px;
}
.sub {
  max-width: 100%;
  padding: 40px;
  border-radius: 3px;
  background: rgb(245, 240, 240);
}
p > input {
  height: 22px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 4px;
  margin: 2px 0 15px 0;
  border: none;
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
