.container {
  display: flex;
  justify-content: center;
  width: 720px;
  margin: 10px;
  background-color: #ececec;
  /* border: 1px solid #130f40; */
}

img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
}
.container1 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin: 6px;
}
.container2 {
  color: rgb(19, 104, 161);
  font-weight: bold;
  font-style: italic;
  width: 100%;
}
.container3 {
  padding: 8px;
  font-style: italic;
  /* width: 100%; */
}
/* .container4 {
  display: flex;
  align-items: flex-end;
  margin: 0 50px 4px 0;
} */
.author {
  display: flex;
  justify-content: flex-end;
}
